[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "~=4.6.0"
lxml = "~=4.6.2"
flask = "~=0.12.2"

[dev-packages]

[requires]
python_version = "3.9"
